$font: 'Graphik LCG';
$darkBG: #181818;


html,
body {
  padding: 0;
  margin: 0;

  background: $darkBG;
  font-family: $font, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
  
* {
    box-sizing: border-box;
}