//Main vars
$body-bg: #181818;
//Colors
$primary: #BF2D87;
$light: #ffffff;
$dark: #181818;

//Font
$font-family-sans-serif:
  // Cross-platform generic font family (default user interface font)
  'Graphik LCG',
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import "~bootstrap/scss/bootstrap";
@import "/fonts/GraphikLCG/stylesheet.css";

.container {
    max-width: 960px;
}

.menu__1 {
    max-width: 100%;
    border-radius: 25px;
}

h2 {
    font-weight: 600;
    font-size: 80px;
}

.nav-link:hover {
    color: rgb(108, 117, 125) !important;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    color: rgb(108, 117, 125) !important;
}

.btn-main {
    font-weight: 600;
    font-size: 23px;
}

.block-head {
    margin-top: 50px;
    margin-bottom: 110px;
}

.cardBox {
    display: flex;
    flex-direction: column;
}

.bg-footer {
    background: #151515;
}

.title-text {
    font-size: 50px !important;
}

.card-work {
    //color: #fff !important;
    background-color: #ffffff;
}


@media (max-width: 700px) { 
    h2 {
        font-size: 40px;
    }

    .btn-main {
        font-size: 15px;
    }
}